<!DOCTYPE html>
<html>
<head>
  <title>Conectar WhatsApp</title>
</head>
<body style="text-align:center; padding-top:50px;">
  <h2>📲 Escaneie o QR Code com seu WhatsApp</h2>
  <img src="<%= qrCode %>" width="250" height="250" />
</body>
</html>